.container{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.menu, .stacking-area {
  width: 300px;
  height: 600px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layer, .item {
  width: 85%;
  height: 25px;
  text-align: center;
  display: block;
}


button {
  margin: 20px;
  border: 1px solid red;
  background-color: black;
  color: white;
}

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: darkgray;
  background-color: darkblue;
}
